<%= stylesheet_link_tag 'users' %>

    <section class="laundries-info">
      <div class="data row">
        <div class="user col-md-12">

	<p>
		<strong>Laundry</strong>
		<%= service.laundry.id %>
	</p>

	<p>
		<strong>Name</strong>
		<%= service.name %>
	</p>

	<p>
		<strong>Cost</strong>
		<%= service.cost %>
	</p>

	<%= link_to 'Destroy service', [service.laundry,service.garment, service], method: :delete, data: { confirm: 'Are you sure?', class: "option"} %>

        
        </div>
      </div>
    </section>
 
          

