<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
  <%= render 'users/menu' %>
  <div class="admin-container">
    <p id='notice'><%= notice %></p>
    <section class="laundries-info">
      <div class="data row">
        <div class="user col-md-12">
          <h3 class="subtitle"><%= 'Admin: ' +current_user.name+" "+current_user.lastname %></h3>
          <ul>
            <li><%= link_to 'Profile', profile_path, class: "option" %> </li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <div class="data row">
        <div class="user col-md-12">
          <h3 class="subtitle">Lavalotu's Garments</h3>  
          <br>
          <table>
            <tr>
              <th>Name</th>
              <th class="main" colspan="3"></th>
            </tr>
            <% @garments.each do |garment| %>
            <tr>
              <td><%= garment.name %></td>
              <td><%= link_to image_tag("show.png"), laundry_garment_path(@laundry, garment) , class: "option"%> </td>
              <td><%= link_to image_tag("edit.png"), edit_laundry_garment_path(@laundry,garment) %></td>
              <td><%= link_to image_tag("delete.png"), laundry_garment_path(@laundry,garment),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td-->
            </tr>
            <% end %>
          </table>
          <br>
          <ul>          
            <li><%= link_to image_tag("add.png"), new_laundry_garment_path, class: "option" %>  </li> 
            <%= link_to 'Back', laundries_path, class: "option" %>    
          </ul>
        </div>
      </div>
    </section>
  </div>
</section>
