<%= stylesheet_link_tag 'users' %>
      <div class="data row" >
        <div class="user col-md-12" >
          	<h3 class="subtitle">Garment</h3>  
          	<br>
			<p>
				<strong>Name:</strong>
				<%= @garment.name %>
			</p>

			<p>
				<strong>Description:</strong>
				<%= @garment.description %>
			</p>
			<h3 class="subtitle">Services</h3>
			
			<%= render @service_laundry %>

			<%= render 'services/form' %>

			<%= link_to 'Back', laundry_garments_path , class: "option"%>
			<%= link_to 'Home', root_path , class: "option"%>
          
          <br>
        
        </div>
      </div>
    
 
  
          

