<%= stylesheet_link_tag 'users' %>
<div class="garmnet-info container" >
	<div class="detail col-md-12" >
		<h3 class="subtitle">Garment</h3>  
		<p class="name">
			<strong>Name:</strong>
			<%= @garment.name %>
		</p>
		<p class="description">
			<strong>Description:</strong>
			<%= @garment.description %>
		</p>

		<h3 class="subtitle service">Services</h3>

		<div class="laundry clearfix">
			<%= render @service_laundry %>	
		</div>
		<%= render 'services/form' %>
		<%= link_to ' Back', laundry_garments_path , :class => "fa fa-chevron-left option back"%>
		<%= link_to ' Home', root_path , :class => "fa fa-home option home"%>
	</div>
</div>





