    <%= stylesheet_link_tag 'registrations' %>    
    <div class="container data">
      <div class="logo">
        <%= link_to image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive"), profile_path %>
      </div>

      <h3>Update my information<!--<%= resource_name.to_s.humanize %>--></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.text_field :name, autofocus: true, placeholder: "Firstname" %>
      </div>

      <div class="field">
        <%= f.text_field :lastname, autofocus: true, placeholder: "Lastname" %>
      </div>

      <div class="field col-md-12">
        <%= f.text_field :phone, autofocus: true, placeholder: "Cell phone" %>
      </div>
      

      
      <div class="actions">
        <%= f.submit "Save changes" %>
      </div>
      <% end %>
      <span class="or"></span>
      <h3>Cancel my account</h3>

      <p>Aren't you happy with our service? <%= button_to "Cancel account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  