<div class="menu">
	<p id="notice"><%= notice %></p>
	<div class="lavalotu-image">
		<%= image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "logo img-responsive") %>
		<h1>Lavalotu</h1>
	</div>
	<ul class="menu-options">
		<span><%= current_user.name+" "+current_user.lastname %></span> 
		<li><%= link_to "Profile", profile_path%></li>
		<li><%= link_to "Prices", prices_path%></li>
		<li><%= link_to "Users", users_path %></li>  
		<li><a href="#">Orders</a></li> 
		<li><a href="#">Donate</a></li> 
		<li><%= link_to "Contact us", static_pages_contact_path %></li>
		<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	</ul>
</div>