<%= stylesheet_link_tag 'registrations' %>
<div class="container data">

<h1>Email Confirmation</h1>
 
<%= form_for(current_user, as: 'user', url: finish_signup_path(current_user), method: :patch)  do |f| %>
  <% if @show_errors && current_user.errors.any? %>
    <h2>Errores encontrados:</h2>
    <ul>
      <% current_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
 
  <div class= "field">
    <%= f.text_field :email, autofocus: true, value: '', placeholder: 'Example: email@me.com' %>
  </div>
 
  <div class="actions">
    <%= f.submit 'Confirm' , :onclick => "alert('An email will be sent to your email address')" %>
  </div>
 
<% end %>
</div>