<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'menu' %>
	<div id="laundries-container">
		<h1>Your past orders</h1>
		<table>
			<tr>
				<th>Laundry</th>
				<th>Address</th>
				<th>Date Start</th>
				<th>Date End</th>
				<th>Cost</th>
				<th>Score</th>
				<th class="main" colspan="3"></th>
			</tr>
			<% @orders.each do |order| %>
			<tr>
				<td><%= order.laundry.name %></td>
				<td><%= order.laundry.address %></td>
				<td><%= order.created_at %></td>
				<td><%= order.date_deliver %></td>
				<td><%= order.total_cost %></td>
				<td><%= order.score %></td>
				<td><%= link_to image_tag('show.png'), order_path(order) %></td>
				<td><%= image_tag('delete.png') %></td>
			</tr>
			<% end %>
		</table>
		<%= link_to 'Back', pre_orders_path %>
	</div>
</section>