<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
  <%= render 'menu' %>
  <div id="users-container">
    <p id='notice'><%= notice %></p>
    <section class="user-info">
      <div class="data row">
        <div class="user col-md-12">
          <h3 class="subtitle"><%= ' Admin: ' +current_user.name+" "+current_user.lastname %></h3>
          <ul>
            <li><%= link_to 'Profile', profile_path, class: "option" %> </li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          </ul>
        </div>
      </div>
      <div class="data row">
        <div class="user col-md-12">
          <h3 class="subtitle">Lavalotu's Users</h3>  
          <br>
          <table>
            <tr>
              <th>Users</th>
              <th>Email</th>
              <th>Role</th>
              <th class="main" colspan="3"></th>
            </tr>

            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.role %></td>
              <td><%= link_to image_tag('show.png'), user_path(user) %></td>
              <td><%= link_to image_tag('edit.png'), user_path(user) %></td>
              <td><%= link_to image_tag('delete.png'), destroy_path(user), method: :delete,
                 data: { confirm: 'Are you sure?' } %></td>

            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </section>
  </div>
</section>
  



