<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix" ng-app="dashboard">
	<div class="menu">
		<div class="lavalotu-image">
			<%= image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "logo img-responsive") %>
			<h1>Lavalotu</h1>
		</div>
		<ul class="menu-options">
			<li style="text-align:center"><%= current_user.name+" "+current_user.lastname %></li> 
			
			<li><%= link_to "Perfil", profile_path, :class => 'navbar-link' %></li>
			<li><%= link_to "Prendas", controller: 'garments' %></li>
			<li><a href="#">Precios</a></li>  
			<li><a href="#">Hogar</a></li> 
			<li><a href="#">Moda</a></li>
			<li><%= link_to "Acerca de nosotros", static_pages_about_path %></li>
			<li><%= link_to "Contáctanos", static_pages_contact_path %></li>
			<li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>

		</ul>
	</div>
	<div class="content" ng-controller="garmentsController">
		<div class="container">
			<div class="garment col-md-3" ng:repeat="garment in garments">
				<div class="image">
					<%= image_tag("garments/{{garment.name}}.png", :alt => "{{garment.name}}", :title => "{{garment.name}}", :class=> "img-responsive") %>
				</div>
				{{garment.name}}
			</div>
		</div>
	</div>
</section>