<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'users/menu' %>
	<div id="laundries-container">
		<h1 class="title">Laundries</h1>
		<% if policy(current_user).index? %>
			<%= javascript_include_tag :laundry_order %>
		<% else %>
			<section class="detail-map">
				<ol class="steps">
					<li class="step">Choose your laundry.</li>
					<li class="step">Calculate your order.</li>
					<li class="step">Choose your delivery date.</li>
				</ol>
			    <div id="map"></div>
			    <%= javascript_include_tag :map %>
			    <%= javascript_include_tag :markerclusterer %>
	    	</section>
		<% end %>
	</div>
</section>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmIRM4Q4dNNyEG1_AlXtUiPUQdHeb0rBY&callback=initMap">
</script>
