<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'menu' %>
	<div id="laundries-container">
		<h1>Laundries</h1>
		<% if policy(current_user).index? %>
			<%= javascript_include_tag :laundry_order %>
		<% else %>
			<section class="laundries-info">
			    <div id="map"></div>
			    <%= javascript_include_tag :map %>
			    <%= javascript_include_tag :markerclusterer %>
	    	</section>
		<% end %>
		<%= link_to '', current_orders_path , :class => 'back fa fa-arrow-left'%>
	</div>
</section>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmIRM4Q4dNNyEG1_AlXtUiPUQdHeb0rBY&callback=initMap">
</script>
