 <!-- only if you need custom infoboxes -->
<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'menu' %>
	<div id="laundries-container">
		<h1>Orders</h1>
		
		<li><%= link_to "New",orders_path %></li> 
		<li><%= link_to "Current",current_orders_path %></li>
		<li><%= link_to "History",history_orders_path %></li>
   
	</div>
</section>