<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
  <%= render 'menu' %>
  <div id="profile-container">
    <section class="user-info">
      <h1 class="title">Welcome to Lavalotu!</h1>
      <h2 class="user-name"><%= current_user.name+" "+current_user.lastname %></h2>
      <div class="data row">
        <div class="user-image col-md-6 col-md-push-6">
          <% if current_user.provider == "facebook" %>
          <%=  image_tag current_user.image + "?type=large" , :class=> "img-responsive" %>
          <% elsif current_user.provider == "twitter" %>
          <%=  image_tag current_user.image.sub("_normal","") , :class=> "img-responsive" %>
          <% else %>
          <%=  image_tag 'user-m.svg' , :class=> "img-responsive" %>
          <% end %>
        </div>
        <div class="user col-md-6 col-md-pull-6">
          <h3 class="subtitle">Your info:</h3>
          <ul>
            <li><span>Firstname:</span> <%= current_user.name %></li>
            <li><span>LastName:</span> <%= current_user.lastname %></li>
            <% if current_user.phone.eql? '3136064521' %>
              <li><span>Phone:</span><%= link_to 'Update', edit_user_registration_path %></li>
            <% else %>
              <li><span>Phone:</span><%= current_user.phone %></li>
              <li><span></span><%= link_to 'Update', edit_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="data row">
        <div class="user address col-md-12">
          <h3 class="subtitle">Your Address:</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Action</th>
              <th class="main" colspan="3"></th>
            </tr>
            <% current_user.places.each do |p| %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.address %></td>
              <td><%= link_to 'Destroy', user_place_path(p.user, p), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </table>
          <h5 class="subtitle"><%= link_to 'New place', new_user_place_path(current_user) %></h5>
        </div>
      </div>
      <div class="user-friends">
      <% if current_user.provider == "facebook" %>
        <h3>Your friends are already using LavaloTu</h3>
        <div class="friends row">
          <% if current_user.provider == "facebook" %>
          <% friends = current_user.friends %>
          <%  friends.each do |f|%>
          <div class="friend col-md-2 col-xs-6">
            <%= image_tag f['picture']['data']['url'] %>
            <h4 class="my_friend"> <%= f['name'] %></h4>
          </div>
          <% end %>
          <% else %>
          <%=  image_tag 'users.svg' %>
          <% end %> 
        </div>
      <% end %>
      </div>

    </section>
  </div>
</section>