<% if !user_signed_in? %>
	<%= stylesheet_link_tag 'welcome' %>
	<div class="wrapper">
		<div class="wrapper-head clearfix">
			<div class="navbar-header">
				<button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="wrapper-menu">
				<div class="session navbar-collapse navbar-right collapse">
					<ul class="nav navbar-nav">
						<% if user_signed_in? %>
							<li>
								<%= link_to current_user.name, edit_user_registration_path, :class => 'navbar-link' %>
							</li>
								<li>
									<%= link_to "Logout", destroy_user_session_path, method: :delete %>
								</li>	
						<%else%>	
							<li>
								<%= link_to "Sign up", sign_up_path %>
							</li>
							<li>
								<%= link_to "Sign in", sign_in_path %>
							</li>
						<%end%>
					</ul>
				</div>
			</div>
			<%= image_tag("background-header.jpg", :alt => "Background LavaloTu", :title => "Background LavaloTu", :class=> "img-responsive hidden-xs") %>
			<div class="info">
				<div class="logo">
					<%= image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive") %>
				</div>
				<h1 class="slogan">LavaloTu <span>Does the Laundry for You</span></h1>
			</div>

		</div>
		<div class="wrapper-body container">
			<div class="steps row">
				<h2 class="title">In just three simple steps</h2>
				<div class="step col-md-4">
					<span>Order</span>
					<%= image_tag("ordena.jpg", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive") %>
				</div>
				<div class="step middle col-md-4">
					<span>Pick-up</span>
					<%= image_tag("entrega.jpg", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive") %>
				</div>
				<div class="step col-md-4">
					<span>Delivery</span>
					<%= image_tag("recibe.jpg", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive") %>
				</div>
			</div>
		</div>
		<div class="option-menu">
			<button id="share-button" class="share-button">+</button>
			<div id="share-wrapper" class="share-wrapper">
				<ul>
					<li>
						<a target="_blank" href="https://www.facebook.com/LavaloTu/"><div class="mask"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>
					</li>
					<li>
						<a target="_blank" href="https://twitter.com/lavalotu"><div class="mask"><i class="fa fa-twitter" aria-hidden="true"></i></div></a>
					</li>
					<li>
						<a target="_blank" href="https://www.instagram.com/lavalo_tu/"><div class="mask"><i class="fa fa-instagram" aria-hidden="true"></i></div></a>
					</li>
				</ul>
			</div>
			<div id="share-overlay" class="share-overlay"></div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="about_us col-md-4">
					<h4 class="subtitle"><%= link_to "About us", about_path %></h4>
					<ul class="options">
						<li class="option"><%= link_to "Contact us", contact_path %></li>
						<li class="option"><%= link_to "Privacy Policy", root_path %></li>
						<li class="option"><%= link_to "FAQ", root_path %></li>
						<li class="option"><%= link_to "Terms and conditions", root_path %></li>
					</ul>
				</div>
				<div class="lavalotu col-md-4">
				<h4 class="subtitle">Follow us:</h4>
					<ul class="social">
						<li class="option"><a href="https://www.facebook.com/LavaloTu/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="option"><a href="https://twitter.com/lavalotu"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="option"><a href="https://www.instagram.com/lavalo_tu/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="services col-md-4">
					<h4 class="subtitle"><%= link_to "Our services", root_path %></h4>
					<ul class="options">
						<li class="option">Washed and Dryed</li>
						<li class="option">Dyed</li>
						<li class="option">Donations</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<%= javascript_include_tag :jquery_inview %>
	<%= javascript_include_tag :polyfill %>
	<%= javascript_include_tag :app %>
	<!--<%= link_to "Signout", destroy_user_session_path, method: :delete %>-->
<% else %>
	<% controller.redirect_to profile_path%>
<% end %>