<%= stylesheet_link_tag 'orders' %>
<section class="dashboard clearfix">
	<%= render 'users/menu' %>
	<div class="history-orders wrapper container">
		<h2 class="title">Order details</h2>
		<section class="details">
			<table class="garments-details">
				<tr class="variables">
					<td>Garment</td>
					<td>Service</td>
					<td>Quantity</td>
					<td>Unit Cost</td>
					<td>Cost</td>
				</tr>
				<% @details.each do |detail| %>
				<tr>
					<td><%= detail.garment.name %></td>
					<td><%= detail.service_name %></td>
					<td><%= detail.quantity %></td>
					<td><%= detail.unit_cost %></td>
					<td><%= detail.cost %></td>
				</tr>
				<% end %>
			</table>
		</section>
		<% if @order.status == "Generated" %>
		<%= link_to '', current_orders_path , :class => 'back fa fa-arrow-left'%>
		<% elsif @order.status == "In Progress" %><%= link_to '', current_orders_path , :class => 'back fa fa-arrow-left'%>
		<% elsif @order.status == "Completed" %><%= link_to '', current_orders_path , :class => 'back fa fa-arrow-left'%>
		<% end %>
	</div>
</section>