<%= stylesheet_link_tag 'users' %>
<section class="dashboard clearfix">
	<%= render 'users/menu' %>
	<div id="laundries-container">
		<h1>Order details</h1>
		<table>
			<tr>
				<th>Garment</th>
				<th>Service</th>
				<th>Quantity</th>
				<th>Cost</th>
				<th class="main" colspan="3"></th>
			</tr>
			<% @details.each do |detail| %>
			<tr>

				<td><%= detail.garment.name %></td>
				<td><%= detail.service_name %></td>
				<td><%= detail.quantity %></td>
				<td><%= detail.cost %></td>
			</tr>
			<% end %>
		</table>
		<% if policy(current_user).laundry? %>
			<% if @order.status == "Generated" %>
				<%= link_to 'Back', generated_orders_path %>
			<% elsif @order.status == "Completed" %>
				
			<% end %>
		<% elsif policy(current_user).admin? %> 
			<% if @order.status == "Generated" %>
				<%= link_to 'Back', current_orders_path %>
			<% elsif @order.status == "Completed" %>
				<%= link_to 'Back', history_orders_path %>
			<% end %>
		<% else %>

		<% end %>
		
	</div>
 </section>