<%= stylesheet_link_tag 'registrations' %>
<div class="container data">
    <% if policy(current_user).index? %>
    <div class="logo">
        <%= link_to image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive"), profile_path%>
        
    </div>
    <% else %>

    <div class="logo">
        <%= link_to image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive"), ladmin_path(current_user) %>
        
    </div>
    <% end %>

    <h1>Editing Laundry</h1>

    <%= form_for :laundry, url: laundry_path(@laundry), method: :patch do |f| %>

    <% if @laundry.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@laundry.errors.count, "error") %> prohibited
        this laundry from being saved:
    </h2>
    <ul>
        <% @laundry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
    <% end %>

    <div class="row">
        <div class="field col-md-12">
          <%= f.text_field :name, autofocus: true, placeholder: "Name"%>
      </div>
      <div class="field col-md-12">
          <%= f.text_field :address, autofocus: true, placeholder: "Address"%>
      </div>
      <div class="field col-md-12">
          <%= f.text_field :phone, autofocus: true, placeholder: "Phone"%>
      </div> 
      <% if policy(current_user).index? %>
      <div class="field col-md-12">
          <%= f.text_field :score, autofocus: true, placeholder: "Score"%>
      </div> 
      <% end %>
      <div class="actions">
          <%= f.submit "Save"%>
      </div>
  </div>
  <% end %>

  <% if policy(current_user).index? %>
  <%= link_to 'Back', laundry_path, id: "back" %>
  <% else %>
  <%= link_to 'Back', ladmin_path(current_user), id: "back" %>
  <% end %>


</div>