
<p>
	<strong>Name:</strong>
	<%= @laundry.name %>
</p>

<p>
	<strong>Address:</strong>
	<%= @laundry.address %>
</p>

<p>
	<strong>Phone:</strong>
	<%= @laundry.phone %>
</p>

<p>
	<strong>Description:</strong>
	<%= @laundry.score %>
</p>

<%= link_to 'List of laundries', laundries_path , class: "option"%>	