<%= stylesheet_link_tag 'registrations' %>
<div class="container data">
   <div class="logo">
    <%= link_to image_tag("logo.png", :alt => "Logo LavaloTu", :title => "Logo LavaloTu", :class=> "img-responsive"), root_path %>
  </div>
  <h1>New Place</h1>
  <%= form_for :place, url: user_places_path do |f| %>
  <div class="row">
    <div class="field col-md-12">
        <%= f.text_field :name, autofocus: true, placeholder: "Name"%>
        </div>
        <div class="field col-md-12">
        <%= f.text_field :address, autofocus: true, placeholder: "Address"%>
        </div>
    <div class="actions">
        <%= f.submit "Save"%>
        </div>
  </div>
  <% end %>
  <% if policy(current_user).index? %>
  <a> <%= link_to 'Back', user_places_path %></a>
  <% else %>
  <a> <%= link_to 'Back', profile_path %></a>
  <% end %>
</div>
