<%= include_gon %>
<!DOCTYPE html>
<html>
  <head>
    <title>LavaloTu</title>
    <style type="text/css">
      #map { height: 400px; width: 800px; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= render 'favicon' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
