<%= include_gon %>
<!DOCTYPE html>
<html>
  <head>
    <title>LavaloTu</title>
    <%= csrf_meta_tags %>
    <%= render 'favicon' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
